body {
    background-image: 
    
}
h1 {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    
}


p {
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}


